<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- WebDAV modülünü kaldır - PUT/DELETE istekleri için -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    
    <!-- ASP.NET Core handler -->
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    
    <!-- ASP.NET Core module configuration -->
    <aspNetCore processPath="dotnet" 
                arguments=".\habersitesi-backend.dll" 
                stdoutLogEnabled="true" 
                stdoutLogFile=".\logs\stdout" 
                hostingModel="inprocess" />
    
    <!-- HTTP verbs - PUT/DELETE'i açıkça izin ver -->
    <security>
      <requestFiltering>
        <verbs>
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="PATCH" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    
    <!-- Error pages - development için detaylı -->
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
